@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    text-decoration: none !important;
    margin: 0;
    padding: 0;
}

body {
    max-height: 100vh;
}

.fb-nav {
    display: flex;
    justify-content: space-between;
    padding-top : 15px;
    width: 100%;
    height: 70px;
    /* border: 1px solid #777; */
    box-shadow: 0px 0.5px 1px 1px rgba(0, 0, 0, 0.2);
}

.search-box {
    width: 600px;
    height: 50px;
    margin-top: -5px;
    list-style: none;
    display: flex;
    align-items: center;  
    background: #F6F5FF;
    border-radius: 20px;
}

.icon-search {
    color: #707070;
    display: flex;
    align-items: center;  
    justify-content: center;
    font-size: 20px;
    min-width: 45px;
    margin-left: 10px;
}

.search-box input{
    height: 100%;
    width: 100%;
    background: #F6F5FF;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

.title {
    margin-left: 20px;
    margin-top: -5px;
    font-size: 30px;
    font-weight: 600;
    color: blue;
}

a:visited {
    color: blue;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.0rem;
    height: 3.0rem;
    background: transparent;
    border: 0.1rem solid #754ef9;
    border-radius: 50%;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    color: #754ef9;
    margin: -0.2rem 0.5rem 1.5rem 0;
    transition: 0.5s ease; 
}

.social-media a:hover {
    background: #754ef9;
    color: #fdfdfd;
}

.bx {
    font-size: 1.8rem;
}

.avatar {
    margin-top: 27px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.1rem solid #754ef9;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-image: url('../img/avatar.jpg');
    background-size: cover;
    background-position: center;
}

.ava {
    margin-top: -2rem;
}

.home-media {
    display: flex;
    margin-right: 20px;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

