body{
   font-family: Arial, Helvetica, sans-serif; 
   background-color: #e3f2fd;
   box-sizing:border-box;
   height: 100vh;
}

.head-wrap{
   display: flex;
   margin: 10px 10px 0px 10px;
   text-align: left;
   background-color: #282781;
   text-decoration: none;
}

.head-img{
   margin-bottom: 0px;
}

.img-wrap{
   height: 265px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-color: #e9ec23c4; */
}

.card-wrap{
   display: flex;
   flex-wrap: wrap;
   position: absolute;
}

.card{
   width: 17.7rem;
   margin: 10px 0px 0px 20px;
   overflow: hidden;
}

.card:hover{
   box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.42);
}

.img-wrap i{
   font-size: 80px;
   color: rgb(59, 59, 59);
}

.card-text{
   height: 48px;
   text-overflow: ellipsis;
   overflow: hidden;
   width: auto;
   display: -webkit-box;
   display: -moz-box;
   display: box;
   -webkit-box-orient: vertical;
   -moz-box-orient: vertical;
   box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: 2;
   -moz-line-clamp: 2;
   line-clamp: 2;
}

.card-title{
   font-weight: bold;
}
