.mid-content {
    margin-top: -7px;
    padding: 0px 30px 0px 100px;
}

.title {
    padding-bottom: 20px;
}

.mid p:nth-child(1) {
    padding-bottom: 20px
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name, .phone, .email {
    padding: 5px;
    margin-left: -3px;
}

.phone, .email {
    margin-bottom: -5px;
}

input {
    width: 280px;
    border: 1px solid #DADDE1;
}

.contact button {
    margin-left: 220px;
    margin-top: 10px;
    padding: 0px 5px 2px 5px;
}

.contact button span {
    font-size: 12px;
}

.form-user {
    display: flex;
    flex-direction: column;
}

.form-phone {
    display: flex;
    flex-direction: column;
}

.form-email {
    display: flex;
    flex-direction: column;
}

.invalid{
    color: red;
    font-style: italic;
}
  
.border-invalid{
    border: 1px solid red;
    background-color: #d0d7e052;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 5px;
}

.footerNew {
    position: fixed;
    background: #363844;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0px 3px 0px;
    letter-spacing: 0.1px;
    width: 100%;
    bottom: 0;
}