/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  max-height: 100vh;
}   

:root {
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #173a52;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
  --baseColor: #606468;
  --iconFill: var(--baseColor);
  --anchorColor: #eee;
  --formGap: 0.875rem;
  --loginBorderRadus: 0.25rem;
  --loginColor: rgba(0, 0, 0, 0.84);
  --loginInputBackgroundColor: #d0d7e052;
  --loginInputHoverBackgroundColor: #a9b8cc52;
  --loginLabelBackgroundColor: #b8c1cc;
  --loginSubmitBackgroundColor: #4c7eea;
  --loginSubmitColor: #eee;
  --loginSubmitHoverBackgroundColor: #4c7eea;
}

.anh{
  display: flex;
  justify-content: center;
  margin: auto;
}

.anh img{
  width: 100vh;
  max-height: 520px;
}

.footerNew {
  position: fixed;
  background: #363844;
  font-size: 12px;
  /* line-height: 24px; */
  text-align: center;
  color: #FFFFFF;
  padding: 15px 0px 3px 0px;
  letter-spacing: 0.1px;
  width: 100%;
  bottom: 0;
}

.fSignIn{
  text-align: center;
}

.head-wrap{
  display: flex;
  margin: 10px;
  max-width: auto;
  text-align: left;
  background-color: #282781;
  text-decoration: none;
}

.head-img{
  margin-bottom: -5px;
  height: 55px;
}

header{
  margin-bottom: -10px;
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
  margin-top: 110px;
  padding-bottom: 10px;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.icon {
  font-size: 14px;
}

a {
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

input {
  border-radius: 10px !important;
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input[type="submit"] {
  cursor: pointer;
}

.form {
  display: grid;
  gap: var(--formGap);
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  inline-size: 100%;
}

.login {
  color: var(--loginColor);
  margin-top: 25px;
}

.login label,
.login input[type="text"],
.login input[type="password"],
.login input[type="submit"] {
  border-radius: var(--loginBorderRadus);
  padding: 1rem;
}

.login label {
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.25rem;
}

.login input[type="password"],
.login input[type="text"] {
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.login input[type="password"]:focus,
.login input[type="password"]:hover,
.login input[type="text"]:focus,
.login input[type="text"]:hover {
  background-color: var(--loginInputHoverBackgroundColor);
}

.login input[type="submit"] {
  background-color: var(--loginSubmitBackgroundColor);
  color: var(--loginSubmitColor);
  font-weight: 700;
  text-transform: uppercase;
}

.login input[type="submit"]:focus,
.login input[type="submit"]:hover {
  background-color: var(--loginSubmitHoverBackgroundColor);
}

p {
  margin-block: 1.5rem;
}

.text--center {
  text-align: center;
  margin-top: 10px;
}

.text--center a{
  text-decoration: none;
}

.user{
  display: flex;
  align-items: baseline;
  margin-top: 25px;
}

.email{
  display: flex;
  align-items: baseline;
}

.password{
  display: flex;
  align-items: baseline;
}

.password-confirmation{
  display: flex;
  align-items: baseline;
}

.login i{
  margin-right: 10px;
}

.invalid{
  color: red;
  font-style: italic;
}

.border-invalid{
  border: 1px solid red;
  background-color: #d0d7e052;
}

.align {  
  background: #ffffff;
  max-width: 400px;
  max-height: 100vh;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.5);
}