body{
    font-family:'Times New Roman', Times, serif;
    margin-left: 20px;
    line-height: 30px;
}

.checkbox-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-bottom: -20px;
    
}
.checkbox-group{
    margin-right: 0px;
    margin-left: -5px;
}

button {
	width: 60px;
	height: 30px;
    margin: 5px;
     
}