:root{
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695CFE;
    --primary-color0-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --tran: all 0.3s ease;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
    background: #edeff3;
}

.container .left-sidebar {
    margin-top: 5px;
    width: 17%;
    height: 1000px;
    padding: 10px 14px;
}

.container .main-content {
    margin-top: 25px;
    width: 60%;
    height: 1000px;
}

.container .right-sidebar {
    margin-top: 25px;
    width: 23%;
    height: 1000px;
}