/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #e3f2fd;
}

.container{
   position: relative;
   background-image: url("images/bg.png");
   background-size: cover;
   background-color: #fff;
   padding: 25px;
   border-radius: 28px;
   max-width: 380px;
   width: 100%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

h5{
   font-size: 16px;
   font-weight: 400;
   color: white;
}

.logo img{
   width: 48px;
   margin-right: 10px;
}

header .chip{
   width: 60px;
}

h6{
   color: white;
}

.container .valid-date{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin-top: 20px;
}

.container .card-icon {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.container .card-details .icon{
   font-size: 30px;
   color: white;
   transform: rotate(90deg);
   margin-right: 10px;
}

.name{
   margin-bottom: -20px;
}