.ball{
    margin-top: 150px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 1px solid black;
    background-color: darkorchid;
    animation-name: runBall;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute; 
}

@keyframes runBall {
    0%{
        left: 10px;
        top: 10px;
    }
    25%{
        left: calc(100% - 210px);
        top: 10px;
        background-color: aqua; 
    }
    50%{
        left: calc(100% - 210px);
        top: calc(100% - 360px);
        background-color: blue;
    }
    75%{
        left: 10px;
        top: calc(100% - 360px);
        background-color: red;
    }
    100%{
        left: 10px;
        top: 10px;
        background-color: yellow;
    }   
} 

